<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/admin/dashboard" routerLinkActive="active">ReimbursementClaim</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/approved" routerLinkActive="active">Approved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/declined" routerLinkActive="active">Declined</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex justify-content-end">
            <li class="nav-item">
                Hey, <a class="nav-link">{{ userEmail }}</a>
            </li>
        </ul>
        <form class="d-flex justify-content-end">
            <button class="btn btn-primary me-2" type="button" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>
<div class="container">
    <div *ngIf="isSuccess" class="alert alert-success fade show m-3" role="alert">
        {{ successResponse }}
    </div>
    <div *ngIf="isError" class="alert alert-danger fade show m-3" role="alert">
        {{ errorResponse }}
    </div>
    <div class="card m-3">
        <div class="card-header">
            <div class="mb-0 text-center">
                Approve Reimbursement
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="approvalForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-2">
                    <label>
                        Approved By
                    </label>
                    <input type="email" formControlName="approvedBy" class="form-control" />
                    <div *ngIf="approvedBy.invalid && (approvedBy.dirty || approvedBy.touched)"
                        class="text-danger">
                        <div *ngIf="approvedBy.errors.required">
                            Required! Enter your email address
                        </div>
                        <div *ngIf="approvedBy.errors.email">
                            Enter a valid email address!
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label>
                        Approved Value
                    </label>
                    <input type="number" formControlName="approvedValue" class="form-control" />
                    <div *ngIf="approvedValue.invalid && (approvedValue.dirty || approvedValue.touched)"
                        class="text-danger">
                        <div *ngIf="approvedValue.errors.required">
                            Required! Enter a approved amount
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label>
                        Internal Notes
                    </label>
                    <input type="text" formControlName="internalNotes" class="form-control" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary me-2" [disabled]="approvalForm.invalid">Approve</button>
                    <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
